h3 {
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #ff5e69;
}
h2 {
  font-weight: 700;
  font-size: 54px;
  line-height: 59px;
  text-align: center;
  letter-spacing: 1px;
  color: #000000;
}
.block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
p {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
span {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  color: #666666;
}
li {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}
.content {
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
}
